# NOTE: THIS IS AN EXAMPLE FILE. PLEASE USE THIS FILE TO CREATE YOUR OWN .env FILE
# NOTE: Everytime you change this file, you need to also change the files in the config folder

#### Server Config
SERVER_PORT=8001
SERVER_HOST=0.0.0.0
DEBUG=False
SECRET=h9wt*pasj6796j##w(w8=xaje8tpi6h*r&hzgrz065u&ed+k2)
ALLOWED_HOSTS=0.0.0.0

#### Database Config
DB_NAME=test_pg_go
DB_USER=ucsd
DB_PASSWORD=3515
# NOTE: 這邊要改掉才能連到正確的資料庫, 如果用 docker-compose 的話, 這邊要改成 postgres_db
# 用 docker run 的話, 這邊要改成 localhost
DB_HOST=localhost
DB_PORT=5432
DB_LOG_MODE=True
# SSL_MODE=disable

#### Auth0 Config
# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN='xxxxx.us.auth0.com'
# Our Auth0 API's Identifier.
AUTH0_AUDIENCE='https://tree-hole-backend'

TEST_USERNAME=
TEST_PASSWORD=
CLIENT_ID=
CLIENT_SECRET=
